@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

*
{
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
}

#pagepiling .section{
  text-align: center;
}

#pagepiling .section h2{

  color: white;
  font-size: 10em;
  text-shadow: 0 5px 15px rgba(0,0,0,.5);
  /* opacity: 75%; */
}

#pagepiling .section.sec1{
  background: url(https://images.unsplash.com/photo-1521794414102-37606728dd9c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80);
  background-size: cover;
}